<HTML>
<head>
</head>
<body>
<form method="POST" action="ajouter.php">
<table>
<caption>Ajouter Vol</caption>
<tr>
<td>Ref</td>
<td><input type="number" name="ref"></td>
</tr>
<tr>
<td>Destination</td>
<td><input type="text" name="destination"></td>
</tr>
<tr>
<td>Date</td>
<td><input type="date" name="datev"></td>
</tr>
<tr>
<td>HDepart</td>
<td><input type="number" name="hdepart"></td>
</tr>
<tr>
<td>HArrivee</td>
<td><input type="number" name="harrivee"></td>
</tr>
<tr>
<td>Compagnie Aerienne</td>
<td><select name="compagnie">
  <option value="Compagnie_1">compagnie1</option>
  <option value="Compagnie_2">compagnie2</option>
  <option value="Compagnie_3">compagnie3</option>
  <option value="Compagnie_4">compagnie3</option>

</select>
</td>
</tr>
<td><input type="submit" name="ajouter" value="ajouter"></td>


</table>
</form>
</body>
</HTMl>