<!--javascript est un langage de script qui incorporé aux balises html, permet d'ameliorer laprésentation et l'interactivité de page web-->


<link rel="stylesheet" href="css/drive.css" type="text/css" />
<link rel="stylesheet" href="css/nav-omc.css" type="text/css" />
<link rel="stylesheet" href="css/map.css" type="text/css" />
<link rel="stylesheet" href="css/omc.css" type="text/css" />

<script src="js/nav2.js"></script>

<div id="demo"></div>
<script type="text/javascript">
$(function() {
	$('select[name="file"]').change(function() {
		window.location.href = '?cmd=omc&file='+$(this).val();
	});
	$('select[name="date"]').change(function() {
		window.location.href = '?cmd=omc&file='+$('select[name="file"]').val()+'&date='+$(this).val();
	});
	$('select[name="bsc"]').change(function() {
		window.location.href = '?cmd=omc&file='+$('select[name="file"]').val()+'&date='+$('select[name="date"]').val()+'&bsc='+$(this).val();
	});
	$('select[name="agregation"]').change(function() {
		window.location.href = '?cmd=omc&file='+$('select[name="file"]').val()+'&date='+$('select[name="date"]').val()+'&bsc='+$('select[name="bsc"]').val()+'&agregation='+$(this).val();
	});
	$('select[name="cell"]').change(function() {
		window.location.href = '?cmd=omc&file='+$('select[name="file"]').val()+'&date='+$('select[name="date"]').val()+'&bsc='+$('select[name="bsc"]').val()+'&agregation='+$('select[name="agregation"]').val()+'&cell='+$(this).val();
	});

	$('select[name="heure1"]').click(function() {
	  var index=this.selectedIndex;
	  var taille= $(this).find('option').length;
	  $('select[name="heure2"]').find('option').remove();
	  for(var i=index+1; i<taille;i++)
	  {
	  $('select[name="heure2"]').append('<option value="'+this.options[i].value+'">'+this.options[i].text+'</option>');


	  }

	});



});

</script>

<div class="bloc">
		<div class="title">
		  <p>Measurement analysis OMC</p>
			<div class="tabs" id="tabs1">
				<a href="?cmd=omc"> Monotoring </a>
			</div>
		</div>
      <div class="content">
	  		<div id="contenu1">

					 <form  enctype="multiple/form-data" name="fichier-omc" method="POST" action="" >
						<fieldset>
							<ol>
								<li>
									<label for="file">File name :</label>
									<select name="file" style="width:200px">
									<?php echo $file; ?>
									</select>
								</li>
								<li>
									<label for="date">Date :</label>
									<select name="date" style="width:200px">
									<?php echo $date; ?>
									</select>
								</li>
								<li>
									<label for="bsc">BSC / RNC:</label>
									<select name="bsc" style="width:200px">
									<?php echo $bsc; ?>
									</select>
								</li>
								<li>
									<label for="agregation">Agregation :</label>
									<select name="agregation" style="width:200px">
									<?php echo $agregation; ?>
									</select>
								</li>
								<li>
									<label for="cell">Cell :</label>
									<select name="cell" style="width:200px">
									<?php echo $cell; ?>
									</select>
								</li>
								<li>
									<label for="Parameters">Parameters :</label>
									<input type="radio" name="Parameters" value="Choice of indicators"  /> Choice of indicators<br>
									<div id="ra">
									<input type="radio" name="Parameters" value="Date selection"/> Date selection<br>
										<input type="radio" name="Parameters" value="Choice of graph type"/> Choice of graph type
									</div>
								</li>
							</ol>
						</fieldset>
						<div id ="div-kpi"><?php echo $kpis; ?>
						</div>
						<div id ="div-date">
							<ol>
								<li>
									<label for="start">Start Time :</label>
									<select name="heure1" class="index1" style="width:200px">
									<?php echo $heure1; ?>
									</select>

								</li>
								<li>
									<label for="final">Final Time :</label>
									<select name="heure2" class="index2" style="width:200px">
									<?php //echo $heure2; ?>
									</select>

								</li>

							</ol>


						</div>

						<div id ="div-graph">
						<input type="radio" name="new1" id="corpo"/> Line_Bar <img src="images/Line-chart-icon.png" alt="image"><br>
						<input type="radio" name="new1" id="publique"/> Stacked_Bar  <img src="images/combied bar-icon.png" alt="imag"><br>
						<div id="g1">
						<input type="radio" name="new1" id="finance"> Clustered_Bar  <img src="images/clustered bar.png" alt="image"><br>
						<input type="radio" name="new1" id="corpo"/> Combined_Bar <img src="images/stacked-icon.png" alt="image"> <br>
						</div>

						</div>





								<div id="bt">
									<input name="button1" type="button" class="bouton1" id="bouton-omc" value="Statistic" />
								</div>
					</form>

				      <script src="js/js1/highcharts.js"></script>
						<script src="js/js1/modules/exporting.js"></script>

						<div id="chartContaineromc" style="width: 810px; height: 600px; "></div>

		</div>

  </div>

<script src="js/TweenMax.js"></script>
<script src="js/TweenLite.js"></script>
<script src="js/TimelineMax.js"></script>
<script src="js/TimelineLite.js"></script>
<script src="js/omc.js" type="text/javascript"></script>
</div>
