<link rel="stylesheet" href="css/animation_home.css" type="text/css" />

<section>
<div id="partie1">
<div class="feature" id="featureAnimation">
  <div id="featureBackground" style="pointer-events:none;"></div>
  <div class="featureTextWhite" id="whyGSAP" style="margin-left:-20px;">Why QoS Smart Tool ?</div>
  <div class="featureTextGreen" id="performance">Performance</div>
  <div class="featureTextGreen" id="performance1">Reliable</div>
  <div class="featureTextGreen" id="performance2">Compatible</div>
  <div class="featureTextGreen" id="performance3">Clarity and Simplicity</div>
  <div class="featureTextWhite" id="compatibility">Our Services are :</div>
  <div id="browserIcons">
    <img src="images/ser4.png" width="82" height="80" />
    <img src="images/ser4.png" width="82" height="80" />
    <img src="images/ser4.png" width="82" height="80" />
    <img src="images/ser4.png" width="82" height="80" />
  </div>
  <div class="featureTextMinor" id="fallDown"><div class="centre">Measurement files Management and</div><div class="centre">KPI formulas in the database,</div></div>
  <div class="featureTextMinor" id="fallDown1"><div class="centre">Drive Test and OMC measurements</div> <div class="centre">analysis,</div></div>
  <div class="featureTextMinor" id="fallDown2"><div class="centre">Analysis of several measurement file</div> <div class="centre">at the same time,</div></div>
  <div class="featureTextMinor" id="fallDown3"><div class="centre">Display performance indicators as </div><div class="centre">statistics,</div></div>
  <div class="featureTextMinor" id="fallDown4"><div class="centre">calculate  new KPI, insert it in the</div> <div class="centre">database and display it graphically,</div></div>
  <div class="featureTextMinor" id="fallDown5"><div class="centre">Monotoring the evolution of RxQual,</div><div class="centre"> RxLevel on Google map.</div></div>
  <div class="featureTextWhite" id="GSAP" style="top:60px; margin-left:-20px;">GSAP</div>
  <div class="featureTextMinor" id="newStandardText" style="margin-left:220px; top:125px;  width: 936px; color:#d3f9e2;">
  <div id="skew" style="margin-top:-90px;margin-left:65px;"><img src="images/logo1.png"></div>
  <table style="margin-left:-24px;">
  <tr>
  <td><img src="images/hand.png"/></td>
  <td>Together we will solve your busines problems</td>
  </tr>
</table>
  </div>

  <div id="replay" style="text-align:right; position:absolute; left:700px; top:190px; cursor:pointer; color:#999999; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif; font-size:12px; width:100px; visibility:hidden;">replay <img id="replayIcon" src="http://www.greensock.com/_img/codepen/allDevicesBanner/replay.png" width="19" height="19" style="margin-left:2px; vertical-align: middle;" /></div>

            </div>
	 </div>

      <article id="siteplan">

      <strong id="st">Here is the map of The Application <hr> </strong>

		 <div id="gauche">
		<table>
		  <tr>
		     <td><img src="images/icones_raccourcis/home1.png" alt="image"> </td>
			 <td> <a href="?cmd=acceuil" > Home</a> </td>
		  </tr>

		  <tr>
		     <td><img src="images/icones_raccourcis/liste_32.png" alt="image"> </td>
			 <td> <a href="?cmd=fichier" > Files Management</a> </td>
		  </tr>

		  <tr>
		     <td><img src="images/icones_raccourcis/user1.png" alt="image"></td>
			 <td> <a href="?cmd=utilisateur" > User Administration</a> </td>
		  </tr>
		  <tr>
		     <td><img src="images/icones_raccourcis/role-user.png" alt="image"></td>
			 <td> <a href="?cmd=role" > Role Administration</a> </td>
		  </tr>
		</table>
		</div>
		<div id="droite">
		<table>
		  <tr>
		     <td><img src="images/icones_raccourcis/statistiques.png" alt="image"> </td>
			 <td><a href="?cmd=drive" >Drive Test Monotoring</a></td>
		  </tr>

		  <tr>
		     <td><em><img src="images/icones_raccourcis/map.png" alt="image"></em> </td>
			 <td><a href="?cmd=mapping"> Mapping</a></td>
		  </tr>

		  <tr>
		     <td><img src="images/icones_raccourcis/statistiques.png" alt="image"></td>
			 <td> <a href="?cmd=omc" > OMC Monotoring</a> </td>
		  </tr>
		  <tr>
		     <td><img src="images/icones_raccourcis/formulas.png" alt="image"> </td>
			 <td> <a href="?cmd=formule" > Formulas Management</a> </td>
		  </tr>
      <tr>
		     <td><img src="images/icones_raccourcis/statistiques.png" alt="image"> </td>
			 <td> <a href="?cmd=Benchmarking" > Benchmarking </a> </td>
		  </tr>
		</table>
		</div>
     </article>
    <article id="service">

     <div class="s">
       <strong>Our Services is summarized in the following</strong><hr>
       <ul>
	   <li><img src="images/etoilee.png" alt="image">  Administration of users and their roles.</li>
        <li><img src="images/etoilee.png" alt="image">  Measurement file Management and KPI formulas in the database.</li>
		<li><img src="images/etoilee.png" alt="image">  Drive Test and OMC measurements analysis.</li>
		<li><img src="images/etoilee.png" alt="image">  Analysis of several measurement file at the same time.</li>
        <li><img src="images/etoilee.png" alt="image">  Display performance indicators as statistics.</li>
        <li><img src="images/etoilee.png" alt="image">  calculate  new KPI, insert it in the database and display it graphically.</li>
        <li><img src="images/etoilee.png" alt="image">  regular monitoring of changes in the level of the quality RxLev and RxQual according to the geographical positions<div class="ligne"> given by GPS.</div></li>

      </ul>

      </div>

     </article>
   </section><!-- fin de section -->
   <aside>

   </aside><!-- fin de aside -->
   <script src="js/TweenMax.js"></script>
<script src="js/TweenLite.js"></script>
<script src="js/TimelineMax.js"></script>
<script src="js/TimelineLite.js"></script>
<script src="js/acceuil.js"></script>
<script src="js/TextPlugin.js"></script>
<script src="js/split.js"></script>
<script src="js/Physics2DPlugin.js"></script>
<script src="js/Sramble_text.js"></script>
<script src="js/animation_home.js"></script>
