<style>
@font-face{
	font-family:note1;
	src:url(css/fonts/note_this.ttf);
}
.entete p{
	font-family: note1;
	font-size: 1.6em;
	
}
</style>


<br>
<div class="entete"><p>* Roles Administration</p></div>

<div id="htable1">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="1">
<tr>
	<td class="block" align="center" colspan="2"><span style="font-size:1.2em ">Lists of Roles</span></td>
	<td class="block" align="center" colspan="2"><a href="?cmd=role&action=add" style="font-size:1.2em ">Add Role</a></td>
</tr>

<tr>

<th>Role</th>
<th>Role_Name</th>

<th colspan="4" width="100px">Actions</th>
</tr>