<HTML>
<head>
</head>
<body>
<form method="POST" action="ajoutFacture.php">
<table>
<caption>Ajouter facture </caption>
<tr>
<td>prenom</td>
<td><input type="text" name="prenom"></td>
</tr>
<tr>
<td>nom</td>
<td><input type="text" name="nom"></td>
</tr>
<tr>
<td>cin</td>
<td><input type="number" name="cin"></td>
</tr>

<tr>
<td>id_Produit</td>
<td><input type="number" name="id produit"></td>
</tr>
<tr>
  <tr>
  <td>nom_produit</td>
  <td><input type="text" name="nom produit"></td>
  </tr>
  <tr>

<td>quantite</td>
<td><input type="number" name="quantite"></td>
</tr>
<td>prix</td>
<td><input type="number" name="prix"></td>
</tr>
<td>date</td>
<td><input type="date" name="date"></td>
</tr>
<tr>
<td></td>
<td><input type="submit" name="ajouter" value="ajouter"></td>
</tr>
</table>
</form>
</body>
</HTMl>
