<script src="js/formule.js" type="text/javascript"></script>
<SCRIPT LANGUAGE="JavaScript">


$(function() {

var form = $('form[name="formule"]');
var num= form.find('input[name="number"]').val();
console.log(num);
	$('select[name="file"]').change(function() {
		window.location.href = '?cmd=formule&action=cal&file='+$(this).val()+'&id='+num;
	});
	<?php if(!isset($_GET['file'])) { ?>
	$('select[name="file"]').change();
	<?php } ?>
});

//D'autres scripts sur http://www.toutjavascript.com
//Si vous utilisez ce script, merci de m'avertir !  < webmaster@toutjavascript.com >
	function Deplacer(l1) {
		if (l1.options.selectedIndex>=0) {
			/*o=new Option(l1.options[l1.options.selectedIndex].text,l1.options[l1.options.selectedIndex].value);*/
			o1=l1.options[l1.options.selectedIndex].text;
			o=l1.options[l1.options.selectedIndex].value;
			/*console.log(o1);*/
			document.getElementById ('toto').value += o;
			
		  /*l2.options[l2.options.length]=o;*/
			/*l1.options[l1.options.selectedIndex]=null;*/
		}else{
			alert("No activity selected");
		}
	}
	
	function afficher()
	{
	$('#bt .loader').show();
	}
</SCRIPT>


<style>
ol{
  list-style-type: none;
  }
  #role1
{ 

width: 442px;

padding:30px;


                

}
fieldset {
margin-left:20px;
	border: 0;
	margin-bottom: 20px;
}

fieldset legend {
margin-left:100px;
	line-height:40px;
	font-size:32px;
	color:black;;
	font-weight: 900px;
	margin-bottom: 7px;
	
}
fieldset ol li>label
{
float:left;
padding-right: 10px;
width: 110px;
text-align: right;
margin-top:4px;

}
fieldset ol li {
position:relative;
border:solid 1px gray;
background-color:#F7F7F7;
padding:10px;
margin-bottom:5px;
width: 400px;
	
}


input[type="text"] 
{
width:190px;
height:20px;
}
 
input[type="submit"] ,input[type="button"]{
color:black;

width:100px;
background-color:rgba(255,255,255,0.7)

	

margin-left: 200px;

font-size: 16px;
font-family:"Time New Roman", Times,serif; 
}
 #bt
{

margin-top:-10px;
padding-left:160px;
margin-bottom:15px;
}
#ra input[type="radio"] {

margin-left:125px;
}

#kpi{
height:170px;
width:365px;


position:absolute;

top:210px;
left:500px;
display:none;


}

#general
{
position:relative;
}
#opearande input[type="button"]
{
margin-bottom:8px;
width:32px;
}
#number
{
display:none;
padding-left:5px;
position:absolute;
top:170px;
left:500px;
height:30px;
width:365px;
background-color:#F7F7F7;
border:solid 1px black;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-o-border-radius:5px;
border-radius:5px;
}
#number input[type="button"]
{
margin-left:3px;
width:37px;
}
.bouton1
{
cursor:default;
margin-top:20px;
margin-left:10px;
margin-bottom:-10px;
background:url(images/calc.png) no-repeat;
background-position:3px 0px;
width:110px;
height:30px;
padding-left:35px;
font-size:1.1em;
border:solid 2px black;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-o-border-radius:5px;
border-radius:5px;
text-center:right;
}
.bouton2
{
cursor:default;
margin-top:20px;
margin-left:10px;
margin-bottom:-10px;
background:url(images/annuler.png) no-repeat;
background-position:3px 0px;
width:110px;
height:30px;
padding-left:40px;
font-size:1.1em;
border:solid 2px black;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-o-border-radius:5px;
border-radius:5px;
text-center:right;
}
#bt
{
position:relative;
}
#bt .loader
 {
 display:none;
 position:absolute;
 top:100px;
 left:70px;
 }

</style>
<div id="general">

<form name="formule" method="POST" action="?cmd=formule&action=calculte_formule&id=<?php echo $id; echo isset($_GET['file']) ? '&file='.$_GET['file'] : ''; ?>" >

	   <fieldset>
	  <legend>Calculating formulas</legend>
       <ol>
          
		  	<li>
             <label for="file">KPI destination :</label>
             <select name="file" style="width:190px"  >
            <?php echo $file; ?>
            </select>
          </li>	         
         </ol>
		 <input type="hidden" name="formule" id="formule<?php echo $dbf['id']; ?>" value="<?php echo $dbf['formule']; ?>"/>
		 <input type="hidden"  name="number" id="formule<?php echo $dbf['id']; ?>" value="<?php echo $dbf['id']; ?>"/>
      </fieldset>
      
	<div id="bt">  
<input name="button2" type="submit" class="bouton1" id="button2" value="Calculate" onClick="afficher()"/>&nbsp;<input name="button2" type="button" class="bouton2" id="button2" value="Cancel" style="width:100px" onclick="window.parent.location.href='?cmd=formule&action=list'" />
<div class="loader">
<table>
<tr>
<td><em>This operation may  take a little time.  </em></td>

<td><em> Please wait ...</em></td>
<td><img src="images/ajax-loader1.gif"></td>
</tr>
</table>
</div>
</div>
	  </form>
	  </div>
