
<link rel="stylesheet" href="css/nav-formule.css" type="text/css" />
<script src="js/nav1.js" type="text/javascript"></script>
<div id="demo"></div>
<section class="bloc">
		<div class="title">
		  <p>Measurement analysis OMC</p>
			<div class="tabs" id="tabs1">
				<!--<a href="?cmd=omc"> Monotoring </a>-->
				<a href="?cmd=formule"> Formulas</a> 
			</div>
		</div>
	<article>
		<?php include('hlistformule.htm');?>
	</article>	
	  </section>
  <!--</div>-->
<script src="js/TweenMax.js"></script>
<script src="js/TweenLite.js"></script>
<script src="js/TimelineMax.js"></script>
<script src="js/TimelineLite.js"></script>
	
<script src="js/omc.js" type="text/javascript"></script>
<!--</div>-->