 <HTML>
<head>
</head>
<body>
<form method="POST" action="ajoutCommande.php">
<table>
<caption>Ajouter commande </caption>
<tr>
<td>prenom</td>
<td><input type="text" name="prenom"></td>
</tr>
<tr>
<td>nom</td>
<td><input type="text" name="nom"></td>
</tr>
<tr>
<td>numero</td>
<td><input type="number" name="numero"></td>
</tr>
<tr>
<td>adresse</td>
<td><input type="text" name="adresse"></td>
</tr>
<tr>
<td>id_Produit</td>
<td><input type="number" name="id produit"></td>
</tr>
<tr>
<td>quantite</td>
<td><input type="number" name="quantite"></td>
</tr>
<td>prixUnitaire</td>
<td><input type="number" name="prixUnitaire"></td>
</tr>
<td>details</td>
<td><input type="text" name="details"></td>
</tr>
<tr>
<td></td>
<td><input type="submit" name="ajouter" value="ajouter"></td>
</tr>
</table>
</form>
</body>
</HTMl>
