<script src="js/jquery-ui-1.js" language="javascript"></script>
<script src="js/jquery-ui-2.js" language="javascript"></script>
<script src="js/date.js" language="javascript"></script>
<style>
ol{
  list-style-type: none;
  }
#fichier
{
width: 742px
padding:30px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
-o-border-radius:10px;
border-radius:10px;
border:solid 2px red;
-moz-box-shadow:10px 10px 10px green;
-webkit-box-shadow:10px 10px 10px green;
-o-box-shadow:10px 10px 10px green;
box-shadow:10px 20px 10px green;
}
fieldset {
	border: 0;
	margin-bottom: 10px;
}

fieldset legend {
margin-left:190px;
	line-height:40px;
	font-size:32px;
	color:black;;
	font-weight: 900px;
	margin-bottom: 7px;

}
fieldset ol li>label
{
float:left;
padding-right: 20px;
width: 110px;
text-align: right;
margin-top:4px;

}
fieldset ol li {
position:relative;
border:solid 2px black;
-moz-border-radius:10px;
-webkit-border-radius:10px;
-o-border-radius:10px;
border-radius:10px;
background-color:#F7F7F7;
padding:10px;
margin-bottom:5px;
width: 400px;

}
input[type="text"]
{
width:220px;
height:20px;
}

input[type="submit"] ,input[type="button"]{
color:black;

width:100px;
background-color:rgba(255,255,255,0.7)



margin-left: 200px;

font-size: 16px;
font-family:"Time New Roman", Times,serif;
}
 #bt
{
position:relative;
padding-left:160px;
}
 #bt .loader
 {
 display:none;
 position:absolute;
 top:24px;
 left:510px;
 }
.boutton1
{
cursor:default;
margin-top:20px;
margin-left:-20px;
margin-bottom:-10px;
background:url(images/add-file1.png) no-repeat;
background-position:3px 0px;
width:110px;
height:30px;
padding-left:35px;
font-size:1.1em;
border:solid 2px black;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-o-border-radius:5px;
border-radius:5px;
text-center:right;
}
.boutton2
{
cursor:default;
margin-top:20px;
margin-left:10px;
margin-bottom:-10px;
background:url(images/annuler1.png) no-repeat;
background-position:3px 0px;
width:110px;
height:30px;
padding-left:40px;
font-size:1.1em;
border:solid 2px black;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-o-border-radius:5px;
border-radius:5px;
text-center:right;
}
</style>
<form enctype="multipart/form-data" name="fichier" method="POST" action="?cmd=fichier&action=save&affichage=ALL files" onsubmit="return verif_file(this);"  >

  <fieldset>
     <legend>Add File</legend>
       <ol>

          <li>
             <label for="nom">File Name :</label>
             <input type="text" name="nom" id="nom" class="textfield" placeholder="name" /> <div id="msg1"></div>

          </li>

		  <li>
             <label for="date">Insertion Date:</label>
             <input type="text" name="date" id="datepicker" class="datepicker" placeholder="dd/mm/yyyy" /><div id="msg2"></div>
          </li>
		  <li>
             <label for="path">File Path :</label>
			 <input type="file" name="url" id="url"  class="textfield" value="sale" />
			 <div id="msg3"></div>
          </li>
		  <li>
             <label for="nom">File Format :</label>

			 <input type="radio" name="text" value="Csv" />Csv
             <div id="msg4"></div>
          </li>
          <li>
             <label for="nom">File Type :</label>
             <input type="radio" name="omc" value="Drive test"/>Drive test

          </li>
         </ol>
      </fieldset>
	<div id="bt">
	<?php
	$p="";
	$affichage="";
if(isset($_GET['affichage'])) {
	$affichage=$_GET['affichage'];

 }
if(isset($_GET['p'])) {
	$p=$_GET['p'];

 }
	?>
<input name="button2" type="submit" class="boutton1" id="button2" value="Upload" />&nbsp;<input name="button2" type="button" class="boutton2" id="button2" value="Cancel" style="width:100px" onclick="window.parent.location.href='?cmd=fichier&action=list&affichage=<?php echo $affichage;?>&p=<?php echo $p;?>'" />
<div class="loader">
<table>
<tr>
<td><em>Please wait ...</em></td>
<td><img src="images/loader1.gif"></td>
</tr>
</table>
</div>



</div>
	  </form>
	  <script src="js/TweenMax.js"></script>
<script src="js/TweenLite.js"></script>
<script src="js/TimelineMax.js"></script>
<script src="js/TimelineLite.js"></script>
<script src="js/file.js"></script>
