
<li>
       <label for="bullet">liste des champs:</label>

 <select name="champ" style="width:224px">
  <OPTION> Voice call connects (ETSI) </OPTION>
  <OPTION> Voice call success rate </OPTION>
  <OPTION> Voice call setup time </OPTION>
  <OPTION> CS call disconnect cause </OPTION>
  <OPTION> CS call disconnect status </OPTION>
  <OPTION> CS call failure cause </OPTION>
  <OPTION> CS call attempt failure status </OPTION>
  <OPTION> RX level sub (serving) </OPTION>
  <OPTION> RX level sub measurement average </OPTION>
  <OPTION> RX level sub measurement maximum </OPTION>
  <OPTION> RX level sub measurement minimum	</OPTION>
  <OPTION> RX quality sub	</OPTION>
  <OPTION> RX quality sub measurement average </OPTION>
  <OPTION> RX quality sub measurement maximum </OPTION>
  <OPTION> RX quality sub measurement minimum </OPTION>
  <OPTION> RX quality full</OPTION>
  <OPTION> RX quality full measurement average </OPTION>

      </select>
    </li>
