body{
	background-color:black;
 
  
}
#demo{
margin-top:59px;
  position:relative;
  margin-left:106px;
  color:white;
  overflow:hidden;
-moz-border-radius:10px;
-webkit-border-radius:10px ;
-o-border-radius:10px;
border-radius:10px ;
border:solid 2px white;
background-color:#232323;
padding:10px;
margin-bottom:-40px;
width: 700px;
height:70px;
}

#demo h3 {
  position:absolute;
  font-family: 'Asap', sans-serif;
  font-weight:600;
  margin:0;
  padding:0;
  width:800px;
  text-align:center;
  visibility:hidden;
  font-size:80px;
  top:33px;
  left:-30px;
}

/* #ali fieldset #list  {

background-color:#F7F7F7;
border:solid 2px black;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-o-border-radius:5px;
border-radius:5px;
padding:10px;

	margin-bottom: 40px;
	margin-top:10px;
	margin-left:235px;
	width: 399px;
	height:150px;
	
overflow:auto;
display:none;

}*/
#ali fieldset ul span li  {

background-color:#F7F7F7;
border:solid 2px black;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-o-border-radius:5px;
border-radius:5px;
padding:10px;

	margin-bottom:-8px;
	margin-top:-8px;
	margin-left:42px;
	width: 409px;
	height:70px;
	display:none;
overflow:auto;

}

#ali fieldset ol span li  {
display:bloc;
margin-top:-9px;

}


